body {
  background-color: lightgrey;
}
.container {
  text-align: center;
}

input[type=text], input[type=password] {
  width: 500px;
  padding: 20px 20px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

input[type=text]:active, input[type=password]:active {
background-color: grey;
}

button {
  background-color: #2196F3;
  color: white;
  padding: 14px 20px;
  width: 600px;
  border-radius: 50px;
}

button:hover {
  opacity: 0.5;
  background-color: lightgreen;
  color: black;
}


