body {
    background: lightgrey;
}

.img {
    width: 100px;
    height: 100px;
}

.card {
    background-color: rgb(28, 202, 121);
    width: 100%;
    padding: 20px;
}

.card a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}